extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
    each link in menu
        li
            a(href=link.url) #{link.title}
    if form
        form(action = form.action, method = form.method)
            each inputs in form.inputs
                p
                    div inputs.title
                    input(type = inputs.type, placeholder = inputs.placeholder, name = inputs.name)
